<h1>Login</h1>
<div
  class="login_choice_container"
  [class.login_choice_container--authenticated]="authenticated"
  [class.login_choice_container--unauthenticated]="unauthenticated"
>
  <div>
    <a [href]="loginUrl">Login</a><br/>
    <a *ngIf="!code" [href]="loginUrlWithRedirect">Login with redirect (get code)</a><br/>
    <a *ngIf="!code" [href]="loginUrlWithTarget">Login with target</a><br/>
    <a *ngIf="code" [href]="getTokenForCodeUrl">Login with code</a>
  </div >
  authenticated: {{authenticated}}
</div>
<div
  class="login_user_container"
  [class.login_user_container--authenticated]="authenticated"
  [class.login_user_container--unauthenticated]="unauthenticated"
>
  Logged in as: <span id="user">{{user | json}}</span>
  <div>
    <a [href]="logoutUrl">Logout</a><br/>
    <a [href]="logoutUrlWithRedirect">Logout with redirect</a>
  </div>
</div>
